.team-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1a1a1d;
  color: #f8fafc;
  height: 100vh;
}

.team-container img {
 margin: 20px;
}

.team-container li {
  list-style-type: none;
  padding: 5px;
}