.chatOuterContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1d;
}

.chatInnerContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #f8fafc;
  border-radius: 2px;
  height: 72%;
  width: 35%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .chatOuterContainer {
    height: 100%;
  }

  .chatInnerContainer {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .chatInnerContainer {
    width: 60%;
  }
}
