.homeOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #1a1a1d;
}

.homeInnerContainer {
  width: 20%;
}

.homeInput {
  border: 1px solid #1a1a1d;
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 20px;
}

.heading {
  color: white;
  font-size: 2.5em;
  border-bottom: 2px solid white;
}

.homeLink-join {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  border-radius: 5px;
  display: inline-block;
  border: none;
  width: 100%;
}

@media (min-width: 320px) and (max-width: 480px) {
  .homeOuterContainer {
    height: 100%;
  }

  .homeInnerContainer {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .homeInnerContainer {
    width: 60%;
  }
}
