.infoBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  background: #2979ff;
  border-radius: 4px 4px 0 0;
  height: 60px;
  width: 100%;
  padding-left: 20px;
}
