.inputBoxOuterContainer {
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  border-top: 2px solid #d3d3d3;
}

.inputBox {
  border: none;
  border-radius: 0;
  padding: 5%;
  width: 80%;
  font-size: 1.2em;
}

.inputBox:focus {
  outline: none;
}

.sendButton {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979ff;
  padding: 20px;
  display: inline-block;
  border: none;
  width: 20%;
}

.toggle-emoji {
  border: none;
  width: 50px;
  height: auto;
  padding: 0;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-emoji svg {
  width: 28px;
  height: 28px;
}

.toggle-emoji:focus {
  outline: none;
}
