.MainNav {
  display: flex;
  justify-content: space-between;
  background: #1c73e7;
  height: 10vh;
}

.title {
  font-size: 1.2em;
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.MainNav ul {
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.MainNav a {
  color: white;
  text-decoration: none;
}

.MainNav .logo {
  filter: invert(100%);
}

.MainNav-item {
  color: black;
  list-style: none;
  margin-left: 15px;
}
