.MainNav{
    display: flex;
    justify-content: space-between;
   
    background:	rgb(255, 102, 102);
    height: 20vh;
}



.MainNav ul{
    display:flex;
   

}

.MainNav-item{
    color:  black;
    list-style: none;
    text-align: center;
    margin-top: 25px;
    margin-left: 15px
}

