.message {
  display: flex;
  justify-content: flex-start;
  padding: 0 5%;
  margin-top: 3px;
}

.sentTextUser {
  display: flex;
  align-items: center;
  color: #828282;
  letter-spacing: 0.3px;
  padding-right: 10px;
}

.textBox {
  background: #1c73e7;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  display: inline-block;
  max-width: 80%;
}

.text {
  color: white;
  width: 100%;
  letter-spacing: 0;
  float: left;
  font-size: 1.1em;
  word-wrap: break-word;
}

.pr {
  padding-right: 10px;
}

.flexend {
  justify-content: flex-end;
}

.lt {
  background: #F3F3F3;
}

.dk {
  color: #353535;
}

.pl {
  padding-left: 10px;
}

