.signup {
  overflow: hidden;
  background-color: #1a1a1d;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  padding-top: 120px;
}

.signup h1,
span {
  color: #d9d9d9;
}

.redirect-to-signin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signup {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.redirect-to-signin a {
  font-size: 16px;
  font-weight: bold;
  background-color: #1a1a1d;
  color: #1c73e7;
  border: none;
  outline: none;
  margin: 0 20px;
  padding: 10px 10px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s all;
  cursor: default;
}

.redirect-to-signin a:hover {
  background-color: #2081ff;
  color: #f8fafc;
}

.redirect-to-signin a:active {
  transform: scale(0.98);
  box-shadow: 0 0 0 1px #f8fafc, 0 0 1px 2px #1c73e7;
}

.redirect-to-signin p {
  color: #d9d9d9;
  font-size: 16px;
}

.form-signup label {
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.form-signup span {
  margin: 2px;
  font-size: 14px;
  font-weight: 500;
}

.form-signup label input {
  width: 340px;
  height: 40px;
}

button.btn-signup {
  margin-top: 25px;
  width: 340px;
}

.checkUsername {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.checkUsername button {
  margin: 6px;
  width: 160px;
  font-size: 12px;
  padding: 8px;
  margin-right: 10px;
}

.checkUsername img {
  width: 20px;
  height: 20px;
}
