.signin {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1a1a1d;
}
.signin h1,
span {
  color: #d9d9d9;
}

.redirect-to-signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redirect-to-signup a {
  font-size: 16px;
  font-weight: bold;
  background-color: #1a1a1d;
  color: #1c73e7;
  border: none;
  outline: none;
  margin: 0 20px;
  padding: 10px 20px;
  border-radius: 2px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s all;
  cursor: default;
}

.redirect-to-signup a:hover {
  background-color: #2081ff;
  color: #f8fafc;
}

.redirect-to-signup a:active {
  transform: scale(0.98);
  box-shadow: 0 0 0 1px #f8fafc, 0 0 1px 2px #1c73e7;
}

.redirect-to-signup p {
  color: #d9d9d9;
  font-size: 16px;
  font-weight: lighter;
}

.form-signin label {
  margin: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.form-signin span {
  margin: 2px;
  font-size: 14px;
  font-weight: 500;
}

.form-signin label input {
  width: 340px;
  height: 40px;
}

button.btn-signin {
  margin-top: 25px;
  width: 340px;
}
