.apiContainer {
  background: #f8fafc;
  border-radius: 2px;
  width: 350px;
  margin-right: 60px;
}

.tools {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #1c73e7;
  color: #f8fafc;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  padding-left: 10px;
}

.formContainer,
.transContainer,
.langContainer,
.defContainer,
.vocabHistContainer {
  padding: 0px 10px;
}

.apiTextBox input[type='text'] {
  margin: 10px 0px;
  padding: 10px;
  display: inline-block;
  border: 1px solid #c9c9c9;
  width: 100%;
}

.apiTextBox button {
  padding: 10px;
}

.definition {
  width: 100%;
  height: 80px;
  text-align: center;
}

.defContainer p,
.vocabHistContainer p {
  text-align: center;
  text-transform: uppercase;
  padding: 3px;
  border: 1px solid #c9c9c9;
}

.langContainer p {
  text-align: center;
  background: #a8a8a8;
  color: #f8fafc;
  text-transform: uppercase;
}

.langContainer select {
  padding: 5px;
  display: inline-block;
  border: 1px solid #c9c9c9;
  text-transform: uppercase;
  text-align: center;
  text-align-last: center;
}

.sl,
.tl {
  text-align: center;
  width: 100%;
  padding: 5px;
}

#transBtn {
  padding: 10px;
}

.vocabHistContainer div {
  padding: 5px;
}

.vocabHist {
  width: 100%;
  height: 50px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 1200px) {
  .apiContainer {
    display: none;
  }
}
