@import '_Home';
@import '_MainNav';
@import '_Chat';
@import '_InfoBar';
@import '_Messages';
@import '_Message';
@import '_inputBox';
@import '_VocabAPI';
@import '_Signup';
@import '_Signin';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
select {
  border: 1px solid #d9d9d9;
  border-radius: 2;
  box-shadow: rgb(214, 214, 214) 0px 0px 0px 1px inset;
  display: inline-block;
  padding: 15px 20px;
  width: 100%;
  margin-bottom: 20px;
}

button {
  color: #f8fafc;
  background-color: #1c73e7;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 20px;
  border-radius: 2px;
  display: inline-block;
  border: none;
  width: 100%;
  outline: none;
  transition: 0.2s all;
}

button:hover {
  color: #f8fafc;
  background-color: #2081ff;
}

button:active {
  transform: scale(0.98);
  box-shadow: 0 0 0 1px #f8fafc, 0 0 1px 2px #1c73e7;
}
